<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name=".EkycMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EkycSDK"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".innovitices.activities.DocumentActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/document_front_screen"
            />

        <activity
            android:name=".innovitices.activities.FaceCaptureActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/face_capture_screen"
            />

        <activity
            android:name=".innovitices.activities.SmileLivenessActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/smile_liveness_screen"
            />
    </application>
</manifest>